// fade效果
.s-animate-fade-enter {
  animation-name: s-animate-fade-enter;
}
@keyframes s-animate-fade-enter {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.s-animate-fade-leave {
  animation-name: s-animate-fade-leave;
}
@keyframes s-animate-fade-leave {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

// 旋转效果
.s-animate-rotate {
  animation-name: s-animate-rotate;
}

@keyframes s-animate-rotate {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

// 弹框效果
.s-animate-middle-enter {
  animation-name: s-animate-middle-enter;
}

@keyframes s-animate-middle-enter {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }

  to {
    opacity: 1
  }
}

.s-animate-middle-leave {
  animation-name: s-animate-middle-leave;
}

@keyframes s-animate-middle-leave {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
}

.s-animate-top-enter {
  animation-name: s-animate-top-enter;
}

@keyframes s-animate-top-enter {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.s-animate-top-leave {
  animation-name: s-animate-top-leave;
}

@keyframes s-animate-top-leave {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }
}

.s-animate-left-enter {
  animation-name: s-animate-left-enter;
}

@keyframes s-animate-left-enter {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.s-animate-left-leave {
  animation-name: s-animate-left-leave;
}

@keyframes s-animate-left-leave {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }
}

.s-animate-right-enter {
  animation-name: s-animate-right-enter;
}

@keyframes s-animate-right-enter {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.s-animate-right-leave {
  animation-name: s-animate-right-leave;
}

@keyframes s-animate-right-leave {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
}

.s-animate-bottom-enter {
  animation-name: s-animate-bottom-enter;
}

@keyframes s-animate-bottom-enter {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.s-animate-bottom-leave {
  animation-name: s-animate-bottom-leave;
}

@keyframes s-animate-bottom-leave {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
}