.s-alert-dialog {

  .s-dialog-wrapper {
    border-radius: 5px;
    width: 80%;
    max-width: 320px;

    .s-dialog-header {
      padding-top: 24px;
      font-size: 16px;
      text-align: center;
      color: #323233;
    }

    .s-dialog-content {
      max-height: 60vh;
      padding: 32px;
      overflow-y: auto;
      font-size: 16px;
      line-height: 1.2;
      white-space: pre-wrap;
      text-align: center;
      word-wrap: break-word;
      color: black;
    }

    .s-dialog-footer {
      display: flex;
      border-top: 1px solid #eeeeee;

      .s-btn {
        flex: 1;
        height: 50px;
        font-size: 16px;
        border-left: 1px solid #eeeeee;

        &:first-child {
          border-left: 0;
        }
      }
    }
  }
}