.s-alert-dialog {

  .s-dialog-wrapper {
    color: white;
    border-radius: 5px;
    width: 75%;
    min-width: 260px;
    max-width: 320px;

    .s-dialog-header {
      padding-top: 24px;
      font-size: 16px;
      text-align: center;
      color: #323233;
    }

    .s-dialog-content {
      max-height: 60vh;
      padding: 32px;
      overflow-y: auto;
      font-size: 14px;
      line-height: 1.2;
      white-space: pre-wrap;
      text-align: center;
      word-wrap: break-word;
      color: black;
    }

    .s-dialog-footer {
      display: flex;
      border-top: 1px solid #e7e7e7;

      .s-btn {
        flex: 1;
        height: 58px;
        font-size: 16px;

        &:nth-child(2) {
          border-left: 1px solid #e7e7e7;
        }
      }
    }
  }
}