.s-btn {
  position: relative;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  line-height: 1;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  outline: none;
  border-radius: 0;
  background: transparent;
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.s-btn-block {
    display: flex;
    width: 100%;
  }
}