.s-dialog {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 0;

  &.s-dialog-visible {
    display: block;
  }

  .s-dialog-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .s-dialog-wrapper {
    position: relative;
    z-index: 2;
    background-color: white;
  }

  .s-dialog-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    padding: 12px;
    font-size: 16px;
    z-index: 99;
  }

  // 动画效果
  & {
    animation-fill-mode: both;

    .s-dialog-mask,
    .s-dialog-wrapper {
      animation-duration: inherit;
      animation-fill-mode: inherit;
    }

    &.s-dialog-effect-enter {

      .s-dialog-mask,
      .s-dialog-wrapper {
        animation-name: s-animate-fade-enter;
      }
    }

    &.s-dialog-effect-leave {

      .s-dialog-mask,
      .s-dialog-wrapper {
        animation-name: s-animate-fade-leave;
      }
    }
  }
}

// middle
.s-dialog-position-middle {
  .s-dialog-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &.s-dialog-effect-enter {
    .s-dialog-wrapper {
      animation-name: s-animate-middle-enter;
    }
  }

  &.s-dialog-effect-leave {
    .s-dialog-wrapper {
      animation-name: s-animate-middle-leave;
    }
  }
}

// top
.s-dialog-position-top {
  .s-dialog-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.s-dialog-effect-enter {
    .s-dialog-wrapper {
      animation-name: s-animate-top-enter;
    }
  }

  &.s-dialog-effect-leave {
    .s-dialog-wrapper {
      animation-name: s-animate-top-leave;
    }
  }
}

// bottom
.s-dialog-position-bottom {
  .s-dialog-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &.s-dialog-effect-enter {
    .s-dialog-wrapper {
      animation-name: s-animate-bottom-enter;
    }
  }

  &.s-dialog-effect-leave {
    .s-dialog-wrapper {
      animation-name: s-animate-bottom-leave;
    }
  }
}

// left
.s-dialog-position-left {
  .s-dialog-wrapper {
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
  }

  &.s-dialog-effect-enter {
    .s-dialog-wrapper {
      animation-name: s-animate-left-enter;
    }
  }

  &.s-dialog-effect-leave {
    .s-dialog-wrapper {
      animation-name: s-animate-left-leave;
    }
  }
}

// right
.s-dialog-position-right {
  .s-dialog-wrapper {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
  }

  &.s-dialog-effect-enter {
    .s-dialog-wrapper {
      animation-name: s-animate-right-enter;
    }
  }

  &.s-dialog-effect-leave {
    .s-dialog-wrapper {
      animation-name: s-animate-right-leave;
    }
  }
}

.s-dialog-effect {
  animation-duration: .3s;
}