.s-toast {
  max-width: 80%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0);

  .s-popup-wrapper {
    color: white;
    text-align: center;
    background-color: rgba(50, 50, 51, 0.88);
    border-radius: 4px;
    padding: 13px 16px;
    min-width: 100px;

    .s-toast-icon {
      font-size: 40px;
      width: 1em;
      height: 1em;
      line-height: 1;
    }

    .s-toast-text {
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
    }
  }

  &.s-toast-middle {
    .s-popup-wrapper {
      padding: 16px;
      width: 120px;
      height: 120px;
      justify-content: center;
      display: flex;
      align-items: center;

      .s-toast-text {
        margin-top: 10px;
      }
    }
  }

  &.s-toast-loading {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }
}